/*
 * Default color: #b5b5b5; (its like...faint white?)
 * 
 * We're using Terminal.app colors from https://en.wikipedia.org/wiki/ANSI_escape_code#Colors
 */

.HistoryEntry {
  color:#b5b5b5;
  font-weight: normal;
  font-weight: 400;
  text-decoration: none;
  font-style:normal;
}
/*
 * Text Style Attributes
 */
.HistoryEntry .off { /* Ansi off */
  color: #b5b5b5;
  font-weight: normal;
  font-weight: 400;
  text-decoration: none;
  font-style:normal;
} 
.off {
  color: #b5b5b5;
  font-weight: normal;
  font-weight: 400;
  text-decoration: none;
  font-style:normal;
}
.HistoryEntry .bold { /* Bold */ 
  font-weight:bold;
  font-weight:500;
}
.HistoryEntry .faint { /* Faint - not currently in use in renderer */
  font-weight: lighter;
  font-weight: 300;  
}
.HistoryEntry .italic { /* Italic */
  font-style: italic;
}
.HistoryEntry .underline { /* Underline */
  text-decoration: underline;
}
.HistoryEntry .blink { /* Blink */
  
}
.HistoryEntry .inverse { /* Inverse */
  
}

/*
 * Foreground Colors
 */
.black { /* Black */
  color:rgb(0,0,0);
}
.red { /* Red */ 
  color:rgb(194,54,33);
}
.green { /* Green */
  color:rgb(37, 188, 36);
}
.yellow { /* Yellow */
  color: rgb(173, 173, 39);
}
.blue { /* Blue */
  color: rgb(73, 46, 225);  
}
.magenta { /* Magenta */
  color: rgb(211, 56, 211); 
}
.cyan { /* Cyan */
  color: rgb(51, 187, 200);
}
.white { /* White */
  color: rgb(203, 204, 205);
}
.bright_black { /* Bright Black */
  color: rgb(129, 131, 131);
}
.bright_red { /* Bright Red */ 
  color: rgb(252,57,31);
}
.bright_green { /* Bright Green */
  color: rgb(49, 231, 34);
}
.bright_yellow { /* Bright Yellow */
  color: rgb(234, 236, 35);
}
.bright_blue { /* Bright Blue */
  color: rgb(88, 51, 255);
}
.bright_magenta { /* Bright Magenta */
  color: rgb(249, 53, 248);
}
.bright_cyan { /* Bright Cyan */
  color: rgb(20, 240, 240);
}
.bright_white { /* Bright White */
  color: rgb(233, 235, 235);
}
.background_blue {
  background-color: rgb(73, 46, 225);
}
.background_transparent {
  background-color:transparent;
}
/*
 * STILL NEED TO ADD
 * Background Colors
 * Background High Colours
 */