@font-face {
  font-family: DroidSansMono;
  src: url('../../public/DroidSansMono.ttf');
}
body {
  background: #000;
  height: 100vh;
  font-family: DroidSansMono;
}
.Client {
  display: flex;
}
.leftColumn {
  /*width: 60%;*/
  width: 100%;
}
@media (min-width: 1400px) { .leftColumn {
  width: 50%;
}}
body.fullscreen_map .leftColumn {
  display: none;
}
.MapperWindow {
  height: 100vh;
  width: 40%;
}
@media (min-width: 1400px) { .MapperWindow {
  width: 50%;
}}

body.fullscreen_map .MapperWindow {
  width: 100%;
}
.HistoryWindow {
  overflow-x: hidden;
  overflow-y: scroll;
  padding: 10px;
  font-size: 13px;
  line-height: 1.2;
  white-space: pre-wrap;
  -webkit-font-smoothing: antialiased;
  width:100%;
  height: calc(100vh - 43px);
  color:#b5b5b5;
  /*width:0;*/
}

.UserInputForm {
  color: inherit;
}
.UserInputForm input[type=submit] {
  display: none;
}
.UserInputForm input[type=text] {
  /*position: fixed;*/
  bottom: 0;
  background: #202020;
  left: 0;
  height: 43px;
  padding: 10px;
  font-size: 12px;
  color: #808080;
  border: transparent;
  width: 100%;
  font-family: DroidSansMono;
}
  .UserInputForm input[type=text]:focus {
    outline: none;
  }
