/*cell size:; 32px;*/

.MapperWindow {
  position: relative;
}
.mapWrapper {
  overflow: auto;
  height: 100vh;
  /*position: relative;*/
}

.map {
  position: relative;
}
.mapCanvas {
  position: absolute;
  top: 0;
  left: 0;
  /* z-index: 500;*/
  z-index: 50;
  /* display: none;*/
  opacity: 0.5;

  display:none;
}

.markupGrid {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
  // width: 1500px;
  // height: 1500px;
}
.markupGrid > div {
  display: flex;
  height: 32px;
  flex-direction: row;
  justify-content: center;
}
.markupGrid > div > div {
  display: flex;
  height: 32px;
  width: 32px;
  min-width: 32px;
  position: relative;
  color: #FFF;
  font-size: 13px;
  z-index: 100;
}
.markupGrid > div > div > * {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color:transparent;
  background-image-size: 32px;
  background-repeat:no-repeat;
}

.terrain {
  z-index: 105;
}
[data-terrain=indoors] .terrain {
  background: #777;
}
/*[data-terrain=city] .terrain {
  background: #777;
}*/

[data-terrain=city] .terrain {
  background: #CCC;
  box-shadow: 0 0 0 4px #B8B8B8 inset, 0 0 0 5px #BBB inset, 0 0 0 6px #CCC inset;
}
[data-terrain=tunnel] .terrain {
  background: #777;
}
[data-terrain=cavern] .terrain {
  background: #777;
}
[data-terrain=shallow_water] .terrain {
  background: #777;
}
/*[data-terrain=shallow_water] .terrain {
  background: repeating-linear-gradient(
    45deg,
    #4b4b8e,
    #4b4b8e 2px,
    #777 2px,
    #777 4px  
  );
}*/

[data-terrain=water] .terrain {
  background: #4b4b8e;
}
[data-terrain=rapids] .terrain {
  background: #4b4b8e;
}
[data-terrain=underwater] .terrain {
  background: #4b4b8e;
}
[data-terrain=field] .terrain {
  background-color: rgb(19, 109, 27);
}
[data-terrain=mountains] .terrain {
  background-color: brown;
}
[data-terrain=hills] .terrain {
  /*background-color: indianred;*/
}
[data-terrain=forest] .terrain {
  /*background-color: darkgreen;*/
  background-color: #115011;
}



[data-terrain=deathtrap][data-exits*=up] .exits {
  display: none;
}

[data-terrain=deathtrap] {
  border:1px solid #444;
}

[data-terrain=deathtrap] .terrain {
  background-image: url(../../public/map_tiles/deathtrap.jpg);
  background-size: 20px;
  background-color: #000;
  width: 100%;
  background-position-x: 4.5px;
  background-position-y: 2px;
}

[data-flags*=deathtrap] .flags:before {
  position: absolute;
  z-index: 150;
  width: 100%;
  text-align: center;
  background-image: url(../../public/map_tiles/deathtrap.jpg);
}







[data-flags*=water] .flags:before {
  content: '~';
  /*color: #3F51B5;*/
  /*color: cornflowerblue;*/
  /*color: darkturqoise;*/
  color: deepskyblue;
  position: absolute;
  z-index: 150;
  font-size: 36px;
  width: 100%;
  text-align: center;
}

[data-flags*=rent] .flags:before {
/*  content: 'R';
  color: azure;
  position: absolute;
  z-index: 150;
  font-size: 18px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
*/

  color: #15257d;
  content: 'R';
  position: absolute;
  z-index: 150;
  font-size: 15px;
  margin-top: 5px;
  width: 100%;
  text-align: center;

}


[data-flags*=shop] .flags:after {
  content: '$';
  color: #222;
  position: absolute;
  z-index: 150;
  font-size: 18px;
  margin-top: 9px;
  width: 100%;
  text-align: center;
}

[data-flags*=guildmaster] .flags:after {
  content: 'g';
  color: #222;
  position: absolute;
  z-index: 150;
  font-size: 17px;
  margin-top: 5px;
  width: 100%;
  text-align: center;
}

[data-flags*=watchtower] .flags:after {
  content: '';
  position: absolute;
  z-index: 150;
  width: 100%;
  text-align: center;
  background: url('../../public/map_tiles/eye-symbol-icon-2.png');
  height: 30px;
  margin-top: 1px;
  background-position: center;
  background-size: 18px;
  background-repeat: no-repeat;

}







/* exit cicle diameter: 5px;*/
.layer.exits {
  z-index: 110;
}
[data-exits*=up] .exits:before {
  content: '';
  height: 5px;
  width: 5px;
  background: #FFF;
  border-radius: 100%;
  display: block;
  top: 5px;
  right: 5px;
  position: absolute;
  opacity: 0.8;
}
[data-exits*=down] .exits:after {
  content: '';
  height: 5px;
  width: 5px;
  background: #000;
  border-radius: 100%;
  display: block;
  bottom: 5px;
  left: 5px;
  position: absolute;
}

.layer.walls {
  z-index: 115;
}
[data-walls*=north] .walls {
  border-top: 1px solid #000;
}
[data-walls*=east] .walls {
  border-right: 1px solid #000;
}
[data-walls*=south] .walls {
  border-bottom: 1px solid #000;
}
[data-walls*=west] .walls {
  border-left: 1px solid #000;
}

.layer.doors {
  z-index: 120;
}
[data-doors*=north] .doors {
  background-image: url(../../public/map_tiles/door_n.png);
}
[data-doors*=north][data-doors*=east] .doors {
  background-image: url(../../public/map_tiles/door_n.png),
                    url(../../public/map_tiles/door_e.png);
}
[data-doors*=east] .doors {
  background-image: url(../../public/map_tiles/door_e.png);
}
[data-doors*=west] .doors {
  background-image: url(../../public/map_tiles/door_w.png);
}
[data-doors*=south] .doors {
  background-image: url(../../public/map_tiles/door_s.png);
}
[data-doors*=west][data-doors*=south] .doors {
  background-image: url(../../public/map_tiles/door_w.png),
                    url(../../public/map_tiles/door_s.png);
}



 /*@-webkit-keyframes blink {0%{opacity:1;} 50%{opacity:0.5;} 100%{opacity:1;}} /* Webkit */
/*
@keyframes blink {0%{opacity:0.3;} 50%{opacity:0;} 100%{opacity:0.3;}}
[data-center=T] .layer.highlight {
  margin: 1px;
  background-color: white;
  // transition: all 0.5s ease-in-out;
  animation: blink normal 4s infinite;
}
*/


.layer.markers {
  z-index: 150;
    display: flex;
    justify-content: center;
    align-items: center;
}

[data-markers*=isCurrentRoom] .layer.markers:after {
  /*
  content: 'o';
  font-size: 16px;
  color: darkgrey;
  */
  content: 'x';
  font-size: 16px;
  color: gainsboro;
}


.MapperWindow .report {
  position: absolute;
  top: 13px;
  left: 0px;
  padding-left: 0px;
  z-index: 999;
  height: 0;
  background: #000;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  color: #FFF;
  font-size: 9px;
  width: 100%;
  text-indent: 10px;
}


[data-terrain] {
  background-size:32px;
  background-repeat: none;
  background-position: center;
  background-color: #777;
}


